* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.style {
    height: 150px;
    border-radius: 5px;
}

.custom-icon-card {
    position: relative;
}

.custom-icon-card>img {
    position: absolute;
}

.font-card {
    font-weight: 500;
}

.radius-1 {
    background: rgb(0, 228, 156);
    background: linear-gradient(90deg, rgba(0, 228, 156, 1) 0%, rgba(0, 148, 218, 1) 100%, rgba(0, 148, 218, 1) 100%);
}

.radius-2 {
    background: rgb(250, 204, 72);
    background: linear-gradient(90deg, rgba(250, 204, 72, 1) 0%, rgba(244, 111, 70, 1) 100%, rgba(0, 148, 218, 1) 100%);
}

.radius-3 {
    background: rgb(1, 195, 231);
    background: linear-gradient(90deg, rgba(1, 195, 231, 1) 0%, rgba(0, 126, 226, 1) 100%, rgba(0, 148, 218, 1) 100%);
}

.text-in-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    color: white;
}

.text-in-box-name {
    font-size: 15px;
}

.custom-text-card {
    text-align: right;
}

.chart-area {
    height: 100%;
}

.btn-custom {
    background-color: #ebecee;
    border-color: none;
    color: #b6babf;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #01bccd;
    border-color: #01bccd;
    color: #FFF;
    box-shadow: none;
}

.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #01bccd;
    border-color: #01bccd;
    color: #FFF;
    box-shadow: none;
}

.title-dropdown {
    line-height: 2;
    color: #afb4b9
}

.dropdown-toggle {
    color: #01bccd;
}

.chart {
    border-style: solid;
    border-radius: 5px;
    border-color: #eef1f5;
}

.cost-zone {
    height: 100%;
}

.element-cost {
    height: 170px;
}

.text-element {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-element>div:nth-child(1) {
    color: #00bccd;
    font-size: 30px;
    font-weight: bold;
}

.text-element>div:nth-child(2) {
    color: #818890;
    font-size: 25px;
}

.text-element>div:nth-child(3) {
    color: red;
    font-size: 0.8rem;
}

.table-title {
    color: #565d6e;
    font-weight: bold;
    font-size: 0.8rem;
}

td {
    color: #889096;
}
.table td, .table th {
    vertical-align: middle;
}
tbody tr:hover{
    background-color: #ebf6f7;
}

th {
    font-weight: normal;
}

.progress-bar {
    background: white;
    color: #57bff5;
    border-color: #57bff5;
}

.border {
    border-color: #57bff5;
}

.thead-style {
    background: #01bccd;
    color: white;
    font-weight: normal;
}

.table-font-size {
    font-size: 0.8rem;
}

.custom-color {
    color: #0dbfce;
}

.btn-outline-primary {
    color: #57bff5;
    background-color: transparent;
    background-image: none;
    border-color: #57bff5
}

.btn-outline-primary:hover {
    color: white;
    background-color: #57bff5;
    border-color: #57bff5
}

.custom-icon-car {
    font-size: 1.5rem;
    color: #fcb71c;
    text-align: center;
}

.custom-icon-plane {
    font-size: 1.5rem;
    color: #0085d8;
    text-align: center;
    transform: rotate(270deg);
}

.custom-weight {
    line-height: 4;
}

.btn {
    line-height: 1;
}

.status-new {
    background: transparent;
    color: #5bc0f6;
    border: 1px solid #5bc0f6;
    width: 100%;
    border-radius: 0;
}

.status-inPrcess{
    background: transparent;
    color: #ff9d46;
    border: 1px solid #ff9d46;
    width: 100%;
    border-radius: 0;
}

h6 {
    text-align: center;
    margin: 0;
}